
<div class="sign">
    <div class="col-lefside">
        <img src="../../../../assets/img/bg-02.png" alt="">
    </div>
    <div class="col-rightside">
        <h2>Sign Up</h2>
        <p>Enter details to create your account</p>
        <div class="signupform">
            <form action="#">
                <div class="form-group">
                    <label for="username" class="label">User Name:</label>
                    <input type="text" id="username" name="usernamename" value="John" required>
                </div>
                <div class="form-group">
                    <label for="email" class="email">Email:</label>
                     <input type="email" id="email" name="email" required>

                </div>
                <div class="form-group">
                    <label for="password" class="label">Password:</label>
                    <input type="password" id="password" name="lname" value="Doe">
                </div>
                <div class="form-group">
                    <label for="password" class="label">confirm Password:</label>
                    <input type="password" id="password" name="lname" value="Doe">
                </div>
                 <button class="register">Register</button>
              </form>
          </div>
        </div>
    </div>

