.sign {
    display:flex;
    width:100%;
    align-items: center;
}
.col-rightside forgetpassword h1 {
    font-size: 30px;
    padding-bottom: 10px;
}
.col-rightside p {
   color:#96a2b4;
   font-size: 20px;
   margin-bottom: 20px;
}
.form{
    font-size: 25px;
    color:#000;
    margin-bottom: 20px;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-bottom: 50px;
}
button{
    width:100%;
    padding:10px;
    border:none;
}
